langgraph>=1.2.12
langchain[mcp]>=1.4.2
langchain-openai>=1.6.5
langchain-community>=0.4.1
langchain-tavily>=0.2.18
llama-index>=0.14.25
openai>=2.54.0,<3
langchain_experimental>=0.4.1
a2a-sdk[http-server]>=1.1.5,<2
mcp>=2.2.0,<3
python-dotenv>=1.1.1
truststore>=0.10.4
uvicorn
-e ..
