# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: CI

on:
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: Check code has no lint errors
        uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6

      - name: Check code is correctly formatted
        uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6
        with:
          args: "format --check"
