# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: CI

on:
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: Check code has no lint errors
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1

      - name: Check code is correctly formatted
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1
        with:
          args: "format --check"
